---
layout: page
permalink: /categories/
title: سرفصل‌ها
sitemap: false
---

<ol style="list-style:none">
  {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <li class="archive-group" style="padding-bottom:1.5em"> 
        <h3 class="category-head">{{ category_name }}</h3>

        <!--a name="{{ category_name | slugize }}"></a-->
        <ol>
          {% for post in site.categories[category_name] %}
            <li class="archive-item">
              <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
            </li>
          {% endfor %}
        </ol>

    </li>
  {% endfor %}
</ol>
