/* Droid Arabic Naskh */
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
    /* RTL styles */
    font-family: 'Droid Arabic Naskh', serif;
    direction: rtl;
    }

.highlight {
    direction: ltr;
    }
    
.site-title {
    float: right;
    }

.site-nav {
    float: left;
    @include media-query($on-palm) {
        right: -webkit-calc(88% - (#{$spacing-unit} / 2));
        right:         calc(88% - (#{$spacing-unit} / 2));
    }
}

.footer-col {
    float: right;
    }

#forkme {
    @include media-query($on-palm){
        display: none;
    }
}

blockquote {
    border-left: none;
    padding-right: $spacing-unit / 2;
    padding-left: none;
}

blockquote p {
    border-right: 4px solid #1ABC9C;
    padding-right: $spacing-unit / 2;
}


