/* Open Sans font from Goolge */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Global changes */
a, a:visited{
    color: #3498DB;
}

h1, h2:not(.footer-heading), h3, h4, h5, h6 {
    color: #1ABC9C;
}

.footnotes {
    font-size: small;
}

/* For license text */
#license {
    font-style: small;
}

/* Center page titles */
.post-title {
    text-align: center;
}

.post-title, a.post-link{
    /*color: #5F538D;*/
    color: #1ABC9C;
}

.date{
    font-family: 'Open Sans', sans-serif;
}

/* Dotted bottom border for links */
.post-content p a:hover{
    text-decoration: none;
    border-bottom: 1px dotted;
}

/* Contrast for header and footer */
.site-header, .site-footer{
    background-color: #5F538D;/*#00539F; #1ABC9C rgba(53, 47, 47, 1);*/
    color: white;
}

/* Overwrite colors for header and footer */
.site-title, .site-title:visited {
    color: white;
}

.site-title a, .site-footer a {
    color: white;
}

body{
    background-color: #fff; 
    background-image: linear-gradient(90deg, transparent 98%, #abced4 98%, #abced4 98.3%, transparent 98.3%), /* Vertical line */
                      linear-gradient(#eee .1em, transparent .1em); /* Horizontal lines */
    background-size: 100% 1.2em;
}

.site-header, .site-footer{
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;}

/* To adapt different screen sizes, mostly for code blocks */

@media screen and (max-width: 240px){
    pre {
        width: 200px;
    }
}


@media screen and (min-width: 240px) and (max-width: 280px){
    pre {
        width: 240px;
    }
}

/*Including Apple iPhone 5 */
@media screen and (min-width: 280px) and (max-width: 320px){
    pre {
        width: 260px;
    }
}

/*Including Apple iPhone 5 */
@media screen and (min-width: 321px) and (max-width: 360px) {
    pre {
        width: 300px;
    }
}

@media screen and (min-width: 361px) and (max-width: 400px) {
    pre {
        width: 340px;
    }
}

/* Nexus 4 */
@media screen and (min-width: 384px) and (max-width: 384px) {
    pre {
        width: 330px;
    }
}


@media screen and (min-width: 401px) and (max-width: 540px) {
    pre {
        width: 365px;
    }
}

@media screen and (min-width: 541px) and (max-width: 640px) {
    pre {
        width: 500px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    pre {
        width: 600px;
    }
}

/* iPad */
@media screen and (min-width: 768px) and (max-width: 768px) {
    pre {
        width: 705px;
    }
}

/* Apple iPhone 6 */
@media screen and (min-width: 375px) and (max-width: 375px) {
    pre {
        width: 323px;
    }
}

/* Apple iPhone 6 Plus */
@media screen and (min-width: 414px) and (max-width: 414px) {
    pre {
        width: 363px;
    }
}

/* Style for glyphs in quotation marks, courtesy of EnigmaRM http://stackoverflow.com/a/16326442/157216 */
blockquote {
    font-size: 18px;
    font-style: italic;
    width: 75%;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:after {
    display: block;
    content: "\201C";
    font-size: 13em;
    position: absolute;
    top: -95px;
    top: calc(100% - .8em);
    color: #1ABC9C;
    font-family: times;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

blockquote p {
    border-right: none;
    padding-right: 6em;
    color: dimgrey;
}
