/* Open Sans font from Goolge */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Global changes */
a, a:visited{
    color: #3498DB;
}

h1, h2:not(.footer-heading), h3, h4, h5, h6 {
    color: #1ABC9C;
}

.footnotes {
    font-size: small;
}

/* For license text */
#license {
    font-style: small;
}

/* Center page titles */
.post-title {
    text-align: center;
}

.post-title, a.post-link{
    /*color: #5F538D;*/
    color: #1ABC9C;
}

.date{
    font-family: 'Open Sans', sans-serif;
}

/* Dotted bottom border for links */
.post-content p a:hover{
    text-decoration: none;
    border-bottom: 1px dotted;
}

/* Contrast for header and footer */
.site-header, .site-footer{
    background-color: #5F538D;/*#00539F; #1ABC9C rgba(53, 47, 47, 1);*/
    color: white;
}

/* Overwrite colors for header and footer */
.site-title, .site-title:visited {
    color: white;
}

.site-title a, .site-footer a {
    color: white;
}

body{
    background-color: #fff; 
    background-image: linear-gradient(90deg, transparent 98%, #abced4 98%, #abced4 98.3%, transparent 98.3%) /* Vertical line */,
                      linear-gradient(#eee .1em, transparent .1em) /* Horizontal lines */;
    background-size: 100% 1.2em;
}

.site-header, .site-footer{
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;}
