---
layout: default
robots: noindex
sitemap: false
---
<div class="card">
  <h1>❖ &nbsp; {{ page.tag }}</h1>
  <ul class="list-meta">
    {% for post in page.posts %}
      <li class="post-list-item">
        <span class="list-meta-col">
        {{ post.date | jdate: "%d %b %Y" | habify }}
        </span>
        <span><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
      </li>
    {% endfor %}
  </ul>
  <hr >
  <div id="tag-cloud">
    {{ site | tag_cloud }}
  </div>
</div>

