---
---
@charset "utf-8";

$base-font-family: 'Droid Arabic Naskh',pfont,'DejaVu Sans',serif !important;
$alt-font-family: 'pfont';

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: normal;
$spacing-unit:     30px;

/* Palett source:
https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
$brand-color:      #d90429;
$anti-color:       white;
$text-color:       #2b2d42;
$background-color: #ffffff;
$header-color:     #343434;

$grey-color:       gray;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$assets-dir:	   '{{ "assets" | absolute_url }}';

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
  "pfont",
  "pygments",
  "base",
  "layout",
  "post",
  "comments",
  "tagcloud",
  "print"
;
