@use "sass:color";
@use "vars";

#comments {
    background-color: color.scale(vars.$primary-color, $saturation: -45%, $lightness: 94%);
    padding: .5em;
}

.comments-list article {
    display: flex;
    font-size: smaller;
    p {
        white-space: pre-wrap;
        line-height: 1.5em;
    }
}

.comment-image-wrapper {
    box-sizing: border-box;
    max-width: 55px;
    min-width: 55px;
    margin: 0.5em;
    overflow: hidden;
}

.comment-body-wrapper {
    flex-grow: 1;
    padding: 5px;
    p {
        margin: 0;
    }
}

.comment-meta {
    display: flex;
}

.reply {
    margin-right: vars.$spacing-unit;

    article {
        p {
            margin-bottom: 0;
        }
        blockquote > p {
            padding: 10px;
        }
        @include vars.media-query(vars.$on-palm) {
            .comment-image-wrapper {
                display: none;
            }
        }
    }
}

#preview {
    font-size: small;
    padding: 10px;
    p {
        white-space: pre-wrap;
        margin-top: 0;
    }
}
