/*
 * Droid Arabic Naskh (Early Access) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidNaskh-Bold.ttf) format('truetype');
}