@use "sass:color";
@use "vars";

header {
    background-color: vars.$primary-color;
    color: vars.$on-primary-color;
    a {
        color: vars.$on-primary-color;
        text-decoration: none;
    }
    a:visited {
    	color: vars.$on-primary-color;
    }
    nav {
        display: inline;
        margin-right: 1em;
    }
}

footer {
    @extend header;
}

.content {
    margin-top: 18px;
    margin-bottom: 18px;
}

.highlighter-rouge, pre {
    max-width: 95vw;
    overflow: auto;
}

.fixed-width {
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-calc(800px - (#{vars.$spacing-unit} * 2));
    max-width:         calc(800px - (#{vars.$spacing-unit} * 2));
}

.card {
    height: 100%;
    background-color: vars.$on-primary-color;
    border-style: dashed;
    border-color: color.adjust(vars.$primary-color, vars.$lightness: 20%, vars.$space: hsl);
    padding: 0 .5em;
    margin: auto 1em;
}

.list-meta li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    @include vars.media-query(vars.$on-palm) {
        display: grid;
        grid-template-columns: auto;
    }
}

.site-title {
    font-size: 26px;
    letter-spacing: -1px;
}

.meta {
    font-size: vars.$small-font-size;
}

.list-meta-col {
    @extend .meta;

    @include vars.media-query(400px) {
        display: none;
    }
}

#motto {
    vertical-align: calc(40%);
}

.image-caption {
    text-align: center;
    margin-top: calc(vars.$spacing-unit / 3);
}

.footnotes {
    font-size: small;
    font-family: vars.$alt-font-family;
}

.center {
    text-align: center;
}

.button {
    border: none;
    padding: 5px 32px;
    background-color: vars.$primary-color;
    border-radius: 2px;
    color: vars.$on-primary-color;
    cursor: pointer;
}

@include vars.media-query(vars.$on-palm) {
    #motto {
        display: none;
    }
}

.a-pagination {
    font-feature-settings: "liga" 1,"lnum" 1;
    text-align: center;
    * {
        line-height: 1.3;
        font-weight: 500;
        display: inline-block;
        padding: .5em .75em;
    }
    .is-active {
        font-size: x-large;
    }
}

.emoji {
    color:grey;
    filter: grayscale(100%);
}

img#footer-gravatar {
    margin-top: 1em;
    clip-path: circle();
    width: 100px;
}

.social-media-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    li {
        display: flex;
        flex-direction: column;
    }
}

#build-time {
    font-family: monospace;
    font-size:x-small;
    color: color.adjust(vars.$on-primary-color, vars.$lightness: 40%, vars.$space: hsl);
}

@include vars.media-query(vars.$on-palm) {
    #footer-gravatar,
    #atom {
        display: none;
    }
    #license {
        font-size: xx-small;
        text-align: center;
    }
}

#footer-extra {
    display: flex;
    justify-content: space-between;
    @include vars.media-query(vars.$on-palm) {
        justify-content: center;
    }
}

.dingbat {
    font-size: 5em;
    color: vars.$primary-color;
    text-align: center;
}

.message {
    background-color: color.adjust(vars.$primary-color, vars.$lightness: 30%, vars.$space: hsl);
    color: vars.$on-background-color;
}
