@use "sass:color";
@use "vars";

.post-title {
    text-align: center;

    @include vars.media-query(vars.$on-palm) {
        font-size: 2em;
    }

    margin-top: 0.5em;
    line-height: 1.2;
    font-size: 3em;
}

.post-meta {
    font-size: small;
    color: vars.$grey-color-dark;
}

.post-image {
    text-align: center;
    img {
        display: inline;
    }
}

.post-content {
    ul, ol {
        margin-left: calc(vars.$spacing-unit / 2);
    }
    iframe {
        width: 100%;
    }
    figure {
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
    }
    blockquote {
        font-family: vars.$alt-font-family;
        font-size: large;
        letter-spacing: -1px;
        >  p {
            border-right: 4px solid color.adjust(vars.$on-primary-color, vars.$lightness: 30%, vars.$space: hsl);
            padding-right: calc(vars.$spacing-unit / 2);
        }
    }
}

.post-image-float {
    max-width: 50%;
    float: left;
}

.post-content video {
  width: 100%;
}

ul.post-list {
    list-style: none;
}

.post-list-item {
    margin-bottom: 1em;
}

.post-list-item h2 {
    margin-bottom: unset;
}
