#gravatar {
  clip-path: unset;
  width: unset;
  margin-top: 1em;
}

code {
  font-family: Courier;
}

#project-main-list{
	margin-top: 1em;
}

main .projects a  {
	text-decoration: underline;
	text-decoration-style: dotted;
}